{
  "type": "service_account",
  "project_id": "agi-cloud-prod",
  "private_key_id": "EXAMPLE_PRIVATE_KEY_ID_REDACTED",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7REDACTED...\n-----END PRIVATE KEY-----\n",
  "client_email": "agi-agent-workload-identity@agi-cloud-prod.iam.gserviceaccount.com",
  "client_id": "100000000000000000000",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/agi-agent-workload-identity%40agi-cloud-prod.iam.gserviceaccount.com"
}
